<div id="content">

<h3>Edit a Micropost</h3>
<form action="/microposts/<%= @micropost.id %>" method="POST">
	<input type="hidden" name="_method" value="PUT">

	<label for="title">Title<br>
		<input type="text" name="micropost[title]" value="<%= @micropost.title %>">
	</label><br><br>

	<label for="author">Author<br>
		<select name="micropost[author_id]">
			<% @authors.each do |author| %>
				<option <%= "selected" if author == @micropost.author %> value="<%= author.id %>"><%= author.name %></option>			
			<% end %>
		</select>   

	<a style="color:#33D6FF" href="/authors/new">&nbsp;Add a new Author?</a><br>
	</label><br>

	<label for="date_created">Date Created (yyyymmdd)<br>
		<input type="text" name="micropost[date_created]" value="<%= @micropost.date_created %>">
	</label><br><br>

	<label for="img_url">Image URL<br>
		<input type="text" name="micropost[img_url]" value="<%= @micropost.img_url %>">
	</label><br><br>

	<label for="content">Content<br>
		<input type="text" name="micropost[content]" value="<%= @micropost.content %>">
	</label><br><br>

		 
	<input type="submit" name="submit">
</form><br><br>

<form action="/microposts/<%= @micropost.id %>" method="POST">
	<input type="hidden" name="_method" value="DELETE">
	<button>DELETE MICROPOST</button>
</form>

</div>