<div id="content">

<p><a class="link" href="/microposts/new">Add a new micropost</a></p><br>

<% @microposts.each do |micropost| %>
	<div class="single micropost">
		<h2><%= micropost.title %></h2>
		<p>By <%= micropost.author.name %></p>
		<img src="<%= micropost.img_url %>" width=400>
		<p>Created on <%= micropost.date_created %></p>
		<p><%= micropost.content%></p>
		<a class="link" href="/microposts/<%= micropost.id %>">View micropost</a><br><br>
		<hr>
		<br>
	</div>
<% end %>

</div>