<div id="content">
<p><a class="link" href="/authors/new">Add a new Author</a></p><br>

<h1 style="color:#33D6FF"><%= @author.name %></h1><br>

<p><img src="<%= @author.photo_url %>" width=200 ></p>
<p>Birthdate: <%= @author.birthdate %><br>Date Joined: <%= @author.date_joined %><br><%= @author.gender %>

<a class="link" href="/authors/<%= @author.id %>/edit"><br>Edit</a><br><br>
<hr>

<% @author.microposts.each do |micropost| %>
	<div class="single micropost">
		<h2><%= micropost.title %></h2>
		<h4>By <%= micropost.author.name %></h4>
		<img src="<%= micropost.img_url %>" alt="" width=400>
		<p><%= micropost.content %></p>
		<a class="link" href="/microposts/<%= micropost.id %>">View Micropost</a><br><br>
		<hr>
	</div>
<% end %>

</div>

